<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% block css %}{% endblock css %}
    <link rel="stylesheet" type="text/css" href="style.css">


	<!--  <link rel="stylesheet" href="styledriver.css">-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styledriver.css')}}">
    
    

	<title>Booking</title>
</head>
<body>


	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand">
			<i class='bx bx-plus' ></i>
			<span class="text">SIREN</span>
		</a>
		<ul class="side-menu top">
			<li>
				<a href="/maindash">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">HOME</span>
				</a>
			</li>
			<li >
				<a href="/driver">
					<i class='bx bxs-group' ></i>
					<span class="text">DRIVERS</span>
				</a>
			</li>
			<li>
				<a href="/ambulance">
					<i class='bx bxs-ambulance'></i>
					<span class="text">AMBULANCES</span>
				</a>
			</li>
			<li class="active" >
				<a href="/booking">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">BOOKINGS</span>
				</a>
			</li>
		<!--
			<li >
				<a href="#">
					<i class='bx bxs-group' ></i>
					<span class="text">Manage Team</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>-->
			<li>
				<a href="/" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		
		
		<main>
			<div class="head-title">
				<div class="left">
					<h1>Booking Details</h1>
					<ul class="breadcrumb">
						<li>
							<a href="/maindash">
								<i class='bx bxs-dashboard' ></i>
								<span class="text">Home</span>
							</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">booking</a>
						</li>
					</ul>
					
				</div>
				
				
			</div>

		

			<br>


			<div>
				<table class="table table-hover">
					<thead class="table-light">
					  <tr>
						<th scope="col">BID</th>
						<th scope="col">NAME</th>
						<th scope="col">GENDER</th>
						<th scope="col">SYMPTOMS</th>
						<th scope="col">NUMBER</th>
						<th scope="col">VEHICLE TYPE</th>
						<th scope="col">location</th>
                        <th scope="col">DELETE</th>
						
					 </tr>
					</thead>
					<tbody>
					{% for post in query %}
					  <tr>
						<th scope="row">{{post.bid}}</th>
						<td>{{post.name}}</td>
						<td>{{post.gender}}</td>
						<td>{{post.symptoms}}</td>
						<td>{{post.number}}</td>
						<td>{{post.vtype}}</td>
                        <td><a href="http://maps.google.com/maps?q={{post.latitude}},{{post.longitude}}"><button  class="btn btn-success">locate</td>
							
						<td><a href="/delete3/{{post.bid}}"><button onclick="return confirm('Are you sure to Delete data');" class="btn btn-danger">Delete </button> </a> </td>
					 </tr>
					{% endfor %}
					  
					</tbody>
				  </table>

			</div>
			
		</main>
		
	</section>
	<!-- CONTENT -->
	

	<script src="script.js"></script>
</body>
</html>