<div>
    <h3 class="text-centre text-danger"> Add New Driver</h3>

      
    

    <form action="/driver" method="post" class="jumbotron">



        <div class="form-group">
      
          <input type="email" class="form-control" id="email" value={{current_user.email}} name="email" required>
        
        </div>
      
        <div class="form-group">
        
          <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required>
        
        </div>
      
       <div class="form-group">
      
                  
                                            
      <select class="form-control" id="gender" name="gender"  required>
              <option selected>Gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Others">Others</option>
       
            </select>
       </div>
      
      
      
        
        
        <div class="form-group">
          
          <input type="text" class="form-control" id="Aadhar number" name="aadhar" placeholder="Aadhar number" required>
        
        </div>
      
      
      
        <div class="form-group">
      
          <input type="number" class="form-control" id="number" name="number" placeholder="Phone Number" required>
        
        </div>
      
        
        <button type="submit" class="btn btn-success btn-sm btn-block">Add</button>
      </form>
</div>












posts=Patients.query.filter_by(pid=pid).first()
    if request.method=="POST":
        email=request.form.get('email')
        name=request.form.get('name')
        gender=request.form.get('gender')
        slot=request.form.get('slot')
        disease=request.form.get('disease')
        time=request.form.get('time')
        date=request.form.get('date')
        dept=request.form.get('dept')
        number=request.form.get('number')
        db.engine.execute(f"UPDATE `patients` SET `email` = '{email}', `name` = '{name}', `gender` = '{gender}', `slot` = '{slot}', `disease` = '{disease}', `time` = '{time}', `date` = '{date}', `dept` = '{dept}', `number` = '{number}' WHERE `patients`.`pid` = {pid}")
        flash("Slot is Updates","success")
        return redirect('/bookings')